@using SmartHome.Models.DataContracts;
@model CompositeObjectBase
@{
// ViewBag.Title = "Home Page";
}

    <div id="@Model.Name">

        @if (Model.Sensors != null && Model.Sensors.Any())
        {

            <div id='sensors_@Model.ClientId'>
                <div id='sensorsU_@Model.ClientId'>
                    @*<h4>@Model.DisplayName - показания датчиков</h4>*@
                    @Html.Partial("Sensors", Model.Sensors)
                </div>
            </div>
        }

        @if (Model.Commands != null && Model.Commands.Any())
        {
            <div>
                @foreach (var cmd in Model.Commands)
                {
                    <button type="button" name="@Model.ClientId" id="@cmd.Id" class="btn btn-primary">@cmd.DisplayName</button>
                }
            </div>
            <div class="divider">
                <hr />
            </div>

        }


    @if (Model.Units != null && Model.Units.Any())
    {
        <div class="tabbable tabs-top">
            <ul class="nav nav-tabs">
                @foreach (var cobj in Model.Units)
                {
                    var cl = (cobj.ClientId == Model.Units.FirstOrDefault().ClientId) ? "active" : "";
                    <li class="@cl">
                        <a name="@Model.Name" data-toggle="tab" href="#@cobj.ClientId">@cobj.DisplayName</a>
                    </li>
                }
            </ul>

            <div class="tab-content">
                @foreach (var cobj in Model.Units)
                {
                    var cl = (cobj.ClientId == Model.Units.FirstOrDefault().ClientId) ? "tab-pane fade in active" : "tab-pane fade in";
                    <div id="@cobj.ClientId" class="@cl">
                        @Html.Partial("CompositeObject", cobj)
                    </div>
                }

            </div>
        </div>
    }

</div>





