@using SmartHome.Models.DataContracts;
@model CompositeObjectBase
@{
// ViewBag.Title = "Home Page";
}


    <div id="@Model.Name">
    @if (Model.Units.Count > 0)
    {
        <div class="tabbable tabs-top">
            <ul class="nav nav-tabs">
                @foreach (var cobj in Model.Units)
                {
                    <li>
                        <a name="@Model.Name" data-toggle="tab" href="#@cobj.ClientId">@cobj.DisplayName</a>

                    </li>
                }

                @if (Model.Sensors.Count > 0)
                {
                    <li class="active">
                        <a name='@Model.Name' data-toggle="tab" href="#sensors_@Model.ClientId">Датчики</a>
                    </li>
                }
            </ul>

            <div class="tab-content">
                @foreach (var cobj in Model.Units)
                {
                    <div id="@cobj.ClientId" class="tab-pane fade">
                        @Html.Partial("CompositeObject", cobj)
                    </div>
                }
                @if (Model.Sensors.Count > 0)
                {
                    <div id='sensors_@Model.ClientId' class="tab-pane fade in active">
                        @*<h4>@Model.DisplayName - показания датчиков</h4>*@
                        @Html.Partial("Sensors", Model.Sensors)
                    </div>
                }


            </div>
        </div>
    }
    else
    {
        @*<h4>@Model.DisplayName - показания датчиков</h4>*@
        @Html.Partial("Sensors", Model.Sensors)

    }

    @if (Model.Commands.Count > 0)
    {
        <div>
            @foreach (var cmd in Model.Commands)
            {
                <button type="button" name="@Model.ClientId" id="@cmd.Id" class="btn btn-primary">@cmd.DisplayName</button>
            }
        </div>
        <div class="divider">
                <hr />
        </div>

    }
</div>





