@using SmartHome.Models.DataContracts;
@model CompositeObjectBase
@{
// ViewBag.Title = "Home Page";
}

    <div id="@Model.Name" class="panel-group">

        <div class="panel panel-default">
            <div class="panel panel-heading">
                <a href="#L_@Model.ClientId" data-toggle="collapse">@Model.DisplayName</a>
            </div>
            @if (Model.Sensors != null && Model.Sensors.Any())
            {
                <div id='sensorsU_@Model.ClientId' class="panel panel-body">
                    @Html.Partial("Sensors", Model.Sensors)
                </div>
            }


            @if (Model.Commands != null && Model.Commands.Any())
            {
                <div class="panel panel-footer">
                    @foreach (var cmd in Model.Commands)
                {
                        <button type="button" name="@Model.ClientId" id="@cmd.Id" class="btn btn-primary">@cmd.DisplayName</button>
                    }
                </div>
                @*<div class="divider">
                    <hr />
                </div>*@

            }

            <div id="L_@Model.ClientId" class="collapse">
                @foreach (var cobj in Model.Units)
                {
                    <div id="@cobj.ClientId" class="panel panel-body">
                        @Html.Partial("CompositeObject", cobj)
                    </div>
                }
            </div>
        </div>

</div>





