@model SmartHome.Models.ICompositeObject
@{
// ViewBag.Title = "Home Page";
}


    <div id="@Model.Name">
    @if (Model.All.OfType<SmartHome.Models.ICompositeObject>().Count() > 0)
    {
        <div class="tabbable tabs-top">
            <ul class="nav nav-tabs">
                @foreach (var cobj in Model.All.OfType<SmartHome.Models.ICompositeObject>())
                {
                    <li>
                        <a name="@Model.Name" data-toggle="tab" href="#@cobj.ClientId">@cobj.DisplayName</a>

                    </li>
                }

                @if (Model.Sensors.Count > 0)
                {
                    <li class="active">
                        <a name='@Model.Name' data-toggle="tab" href="#sensors$@Model.ClientId">Датчики</a>
                    </li>
                }
            </ul>

            <div class="tab-content">
                @foreach (var cobj in Model.All.OfType<SmartHome.Models.ICompositeObject>())
                {
                    <div id="@cobj.ClientId" class="tab-pane fade">
                        @Html.Partial("CompositeObject", cobj)
                    </div>
                }
                @if (Model.Sensors.Count > 0)
                {
                    <div id='sensors$@Model.ClientId' class="tab-pane fade in active">
                        @*<h4>@Model.DisplayName - показания датчиков</h4>*@
                        @Html.Partial("Sensors", Model.Sensors)
                    </div>
                }


            </div>
        </div>
    }
    else
    {
        @*<h4>@Model.DisplayName - показания датчиков</h4>*@
        @Html.Partial("Sensors", Model.Sensors)

    }

    @if (Model is SmartHome.Models.IControlUnit)
    {
        <div>
            @foreach (var cmd in ((SmartHome.Models.IControlUnit)Model).AvailableCommands)
            {
                <button type="button" name="@Model.ClientId" id="@cmd.Id" class="btn btn-primary">@cmd.DisplayName</button>
            }
        </div>
    }
    <div class="divider">
        <hr />
    </div>
</div>





